<%= bootstrap_devise_error_messages!%>
<div class="title">
    <h4 class="text-center">メールアドレスを変更</h4>
</div>
<div class="container-login">
  <div class="mb-5">
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <div class="form-group mb-3">
        <%= f.label :email %>
        <%= f.email_field :email, class:'form-control', autofocus: true, autocomplete: "email",disabled: true %>
      </div>
    <% end %>
  </div>
</div>
<%= render "devise/shared/links" %>
