<%=render "devise/registrations/header" %>

<div class="container-login">
  プロフィールを登録してください。<br>

  <%= form_for(@user, url: before_sign_up_update_path(@user, confirmation_token: @token),html: {method: "post"}) do |f| %>
  <%= render "devise/shared/error_messages", resource: @user %>
  <%= f.hidden_field :user_id, :value =>  @user.id %>
  <%= f.hidden_field :email, :value =>  @user.email %>
  <%= f.hidden_field :nickname, :value =>  @user.nickname %>
  <%= f.hidden_field :prefecture, :value =>  @user.prefecture %>
  <%= f.hidden_field :sex, :value =>  @user.sex %>
  <%= f.hidden_field :birth_year, :value =>  @user.birth_year %>
  <%= f.hidden_field :image, :value =>  @user.image %>
  <%= f.hidden_field :profile, :value =>  @user.profile %>
  <%= f.hidden_field :mailmagazine, :value =>  @user.mailmagazine %>
  <%= f.hidden_field :image_cache %>

  <div class="field">
    <br>
    <%= f.label :nickname %><br />
    <div class="confirm-text">
      <%= @user.nickname %>
    </div>
  </div>

  <div class="field">
    <br>
    <%= f.label :prefecture %><br />
    <div class="confirm-text">
      <%= @user.prefecture %>
    </div>
  </div>

  <div class="field">
    <br>
    <%= f.label :sex %><br />
    <div class="confirm-text">
      <%= @user.sex %>
    </div>
  </div>

  <div class="field">
    <br>
    <%= f.label :birth_year %><br>
    <div class="confirm-text">
      <% if @user_birth_year != "" %>
        <%= @user.birth_year.year %>
      <% end %>
    </div>
  </div>

  <div class="field">
    <br>
    <%= f.label :image %><br>
    <% if @user.image.url %>
    <%= image_tag @user.image.url ,class:"user-image"%>
    <% else %>
    <%= image_tag "no-image.png" ,class:"non-user-image" %>
    <% end %>
    <%= f.hidden_field :image %>
  </div>

  <div class="field">
    <br>
    <%= f.label :profile %><br>
    <div class="confirm-text">
      <%= @user.profile %>
    </div>
  </div>

  <div class="field">
    <br>
    <%= f.label :mailmagazine %><br>
    <div class="confirm-text">
      <% if @user.mailmagazine == true then %>
        メール配信を希望する<br>
      <% else %>
        メール配信を希望しない<br>
      <% end %>
    </div>
  </div>
  <br>
  <div class="form-group">
    <%= f.submit "登録する", class:'btn btn-primary btn-block' %>
  </div>
  <% end %>

  <%= form_for(@user, url: before_sign_up_path(user:@user, confirmation_token: @token),html: {method: "get"}) do |f| %>
  <%= f.hidden_field :user_id, :value =>  @user.id %>
  <%= f.hidden_field :email, :value =>  @user.email %>
  <%= f.hidden_field :nickname, :value =>  @user.nickname %>
  <%= f.hidden_field :prefecture, :value =>  @user.prefecture %>
  <%= f.hidden_field :sex, :value =>  @user.sex %>
  <%= f.hidden_field :birth_year, :value =>  @user.birth_year %>
  <%= f.hidden_field :image, :value =>  @user.image %>
  <%= f.hidden_field :profile, :value =>  @user.profile %>
  <%= f.hidden_field :mailmagazine, :value =>  @user.mailmagazine %>
  <%= f.hidden_field :confirmation_token, :value =>  @token %>
  <%= f.hidden_field :image_cache %>

  <div class="form-group">
    <%= f.submit "入力画面へ戻る", class: "btn btn-secondary btn-block"%>
  </div>
  <% end %>
</div>
