<div class="title">
  <h4 class="text-center">編集内容確認</h4>
</div>
<div class="container-login">
  <%= form_for(@user, url: {action: "complete"}) do |f| %>
  <%= bootstrap_devise_error_messages!%>
  <div class="form-group">
    <%= f.label :nickname %>
    <%= f.hidden_field :nickname , class:'form-control'%>
    <%= f.text_field :nickname, class:'form-control', autofocus: true, autocomplete: "nickname"  ,:readonly => true%>
  </div>
  <div class="form-group">
    <%= f.label :birth_year %><br />
    <%= f.hidden_field :birth_year , class:'form-control' %>
    <%= f.date_select :birth_year, {discard_day: true, discard_month: true ,disabled:true}, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :sex %>
    <%= f.hidden_field :sex , class:'form-control'%>
    <%= f.select :sex, User.sexes.keys, {include_blank: @user.sex},disabled: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :prefecture %>
    <%= f.hidden_field :prefecture , class:'form-control'%>
    <%= f.select :prefecture, User.prefectures.keys, {prompt: @user.prefecture},disabled: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.hidden_field :image_cache, class:'form-control' %>
    <%= image_tag(@user.image.url) %>

  </div>

  <div class="form-group">
    <%= f.hidden_field :profile , class:'form-control'%>
    <%= f.text_area :profile, class:'form-control', rows: 10 ,readonly:  true%>
  </div>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.hidden_field :email , class:'form-control'%>
    <%= f.email_field :email, autofocus: true, class:'form-control' %>
  </div>

  <% if devise_mapping.confirmable? && @user.pending_reconfirmation? %>
  <div>Currently waiting confirmation for: <%= @user.unconfirmed_email %></div>
  <% end %>
  <div class="form-group">
    <%= f.submit "編集内容を確認", class:'btn btn-success btn-block' %>
  </div>
  <% end %>
  <%= link_to "編集ページヘ戻る", edit_user_registration_path %>
</div>