<%= content_for(:title, "プロフィール登録") %>

<div class="login-area">
  <div class="list-title underline-blue">
    <h1>プロフィール登録確認</h1>
  </div>

  <%= form_for(@user, url: before_sign_up_update_path(@user, confirmation_token: @token),html: {method: "post", class: "common-form"}) do |f| %>
  <%= render "devise/shared/error_messages", resource: @user %>
  <%= f.hidden_field :user_id, :value =>  @user.id %>
  <%= f.hidden_field :email, :value =>  @user.email %>
  <%= f.hidden_field :nickname, :value =>  @user.nickname %>
  <%= f.hidden_field :prefecture, :value =>  @user.prefecture %>
  <%= f.hidden_field :sex, :value =>  @user.sex %>
  <%= f.hidden_field :birth_year, :value =>  @user.birth_year %>
  <%= f.hidden_field :image, :value =>  @user.image %>
  <%= f.hidden_field :profile, :value =>  @user.profile %>
  <%= f.hidden_field :mailmagazine, :value =>  @user.mailmagazine %>
  <%= f.hidden_field :image_cache %>


    <div class="inquiry-information">
      <ul class="information-lists">
        <% if @user.provider.present? %>
        <li class="information-list">
          <%= f.label :email ,class:"information-list-title" %>
          <p class="information-list-content"><%= @user.email %></p>
        </li>
        <% end %>
        <li class="information-list">
          <%= f.label :nickname ,class:"information-list-title" %>
          <p class="information-list-content"><%= @user.nickname %></p>
        </li>
        <li class="information-list">
          <%= f.label :prefecture ,class:"information-list-title" %>
          <p class="information-list-content"><%= @user.prefecture %></p>
        </li>
        <li class="information-list">
          <%= f.label :sex ,class:"information-list-title" %>
          <p class="information-list-content"><%= @user.sex_i18n %></p>
        </li>
        <li class="information-list">
          <%= f.label :birth_year ,class:"information-list-title" %>
          <p class="information-list-content"><%= @user.birth_year %></p>
        </li>
        <li class="information-list">
          <%= f.label :image ,class:"information-list-title" %>
          <p class="information-list-content">
              <% if @user.image.url %>
            <%= image_tag @user.image.url ,class:"user-image"%>
            <% else %>
            <%= image_tag "no-image.png" ,class:"non-user-image" %>
            <% end %>
            <%= f.hidden_field :image %>
          </p>
        </li>
        <li class="information-list">
          <%= f.label :profile ,class:"information-list-title" %>
          <div class="information-list-content"><%= simple_format(@user.profile) %></div>
        </li>
        <li class="information-list">
          <%= f.label :mailmagazine ,class:"information-list-title" %>
          <p class="information-list-content">
            <% if @user.mailmagazine %>
              メール配信を希望する
            <% else %>
              メール配信を希望しない
            <% end %>
          </p>
        </li>
      </ul>
    </div>

  <div class="form-group">
    <%= f.submit "登録する", class:'button button-blue-color' %>
  </div>
  <% end %>

  <%= form_for(@user, url: before_sign_up_path(user:@user, confirmation_token: @token),html: {method: "get"}) do |f| %>
  <%= f.hidden_field :user_id, :value =>  @user.id %>
  <%= f.hidden_field :email, :value =>  @user.email %>
  <%= f.hidden_field :nickname, :value =>  @user.nickname %>
  <%= f.hidden_field :prefecture, :value =>  @user.prefecture %>
  <%= f.hidden_field :sex, :value =>  @user.sex %>
  <%= f.hidden_field :birth_year, :value =>  @user.birth_year %>
  <%= f.hidden_field :image, :value =>  @user.image %>
  <%= f.hidden_field :profile, :value =>  @user.profile %>
  <%= f.hidden_field :mailmagazine, :value =>  @user.mailmagazine %>
  <%= f.hidden_field :confirmation_token, :value =>  @token %>
  <%= f.hidden_field :image_cache %>

  <div class="form-group">
    <%= f.submit "入力画面へ戻る", class: "button button-gray-color"%>
  </div>
  <% end %>
</div>
