<div class="title">
  <h4 class="text-center">パスワードを変更</h4>
</div>
<div class="container-login">
  <%= form_for(resource ,as: resource_name, url: users_update_password_path(resource_name), html: { method: :put }) do |f| %>
  <%= bootstrap_devise_error_messages!%>
  <div class="form-group ">
    <%= f.label "新しいパスワード" %>
    <%= f.password_field :password, class:'form-control', autocomplete: "new-password" %>
    <% if @minimum_password_length %>
    <br />
    <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label "パスワードを確認" %>
    <%= f.password_field :password_confirmation, class:'form-control', autocomplete: "new-password" %>
  </div>
  <%= f.submit "変更する", class:'btn btn-success btn-block' %>
  <%= link_to "マイページヘ戻る", user_path ,class:"a-right" %>
  <% end %>
</div>