<div class="title">
  <h4 class="text-center">新規ユーザー登録</h4>
</div>
<div class="container-login">
  <small>SNSアカウントまたはメールアドレスで登録できます</small>
  <div class="btn btn-primary btn-block mt-5">Twitterで登録</div>
  <p class="text-center">または</p>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="form-group">
        <%= f.text_field :nickname, class:'form-control', autofocus: true, autocomplete: "nickname", placeholder: "ニックネームを入力してください" %>
      </div>

      <div class="form-group">
        <%= f.text_field :birth_year, class:'form-control', autofocus: true, autocomplete: "nickname", placeholder: "誕生年を入力してください" %>
      </div>

      <div class="form-group">
        <%= f.text_field :sex, class:'form-control', autofocus: true, autocomplete: "nickname", placeholder: "性別を入力してください" %>
      </div>

      <div class="form-group">
        <%= f.text_field :prefecture, class:'form-control', autofocus: true, autocomplete: "nickname", placeholder: "都道府県を入力してください" %>
      </div>

      <div class="form-group">
        <%= f.text_field :image, class:'form-control', autofocus: true, autocomplete: "nickname", placeholder: "画像を入力してください" %>
      </div>

      <div class="form-group">
        <%= f.text_field :profile, class:'form-control', autofocus: true, autocomplete: "nickname", placeholder: "プロフィール分を入力してください" %>
      </div>

      <div class="form-group">
        <%= f.email_field :email, class:'form-control', autofocus: true, autocomplete: "email", placeholder: "メールアドレスを入力してください" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, class:'form-control', autocomplete: "new-password", placeholder: "パスワードを入力してください" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password_confirmation, class:'form-control', autocomplete: "new-password", placeholder: "パスワード（確認用）を入力してください" %>
      </div>

    <div class="form-group">
      <%= f.submit "メールアドレスで登録", class:'btn btn-primary btn-block' %>
    </div>
  <% end %>
    <p><a href="#">利用規約</a>、<a href="#">プライバシーポリシー</a>に同意の上でご登録ください</p>
  <div class="bg-white">
    <p class="font-weight-bold pb-3">アカウントをお持ちの方はこちら</p>
    <%= render "devise/shared/links" %>
  </div>
</div>
