<%=render "devise/registrations/header" %>

<div class="container-login">
  プロフィールを登録してください。
  <%= form_for(@user, as: @user, url: before_sign_up_confirm_path(@user, confirmation_token: @token) ,html: {method: "post"}) do |f| %>
  <%# form_for @user,  url: users_confirm_path, html: { method: :post } do |f| %>
  <%= bootstrap_devise_error_messages!%>
  <%= render "devise/shared/error_messages", resource: @user %>
  <%= f.hidden_field :user_id, :value =>  resource.id %>

  <div class="form-group">
    <%= f.label :nickname %>
    <%= f.text_field :nickname, class:'form-control', autofocus: true, autocomplete: "nickname", placeholder: "ニックネームを入力してください", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :prefecture %>
    <%= f.select :prefecture, User.prefectures.keys, {prompt: "お住まいの都道府県を選択して下さい"}, autocomplete: "prefecture", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :sex %>
    <%= f.select :sex, User.sexes.keys, {include_blank: "性別を選択して下さい"}, autocomplete: "sex", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :birth_year %>
    <%= f.date_select :birth_year, {discard_day: true, discard_month: true, start_year: Time.now.year, end_year: 1950, prompt: "生まれた年を選択してください"}, autocomplete: "birth_year", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control", accept: "image/jpg,image/gif,image/jpeg,image/png", autocomplete: "image", autofocus: true %>
  </div>

  <div class="form-group">
    <%= f.text_area :profile, class:'form-control', autofocus: true, autocomplete: "profile", placeholder: "プロフィール文を入力してください", rows: 10 %>
  </div>

  メール送信<br>
  <div class="form-group">
    <%= check_box_tag :emailcheck %>
    <%= label_tag :emailcheck, "メール配信を希望する" , autocomplete: "emailcheck"%>
  </div>

  <div class="form-group">
    <%= f.submit "確認画面へ", class:'btn btn-primary btn-block' %>
  </div>
  <% end %>
</div>