<div class="container-login">
  <h2 class="text-center">プロフィール登録</h2>
  <p class="text-center mt-3">プロフィールを登録してください。</p>
  <%= form_for(@user, as: @user, url: before_sign_up_confirm_path(@user, confirmation_token: @token) ,html: {method: "post"}) do |f| %>
  <%= bootstrap_devise_error_messages!%>
  <%= render "devise/shared/error_messages", resource: @user %>
  <%= f.hidden_field :user_id, :value =>  resource.id %>

  <div class="form-group">
    <%= f.label :nickname %><span class="badge badge-danger ml-2">必須</span>
    <%= f.text_field :nickname, class:'form-control', autofocus: true, autocomplete: "nickname", placeholder: "ニックネームを入力してください", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :prefecture %>
    <%= f.select :prefecture, User.prefectures.keys, {prompt: "お住まいの都道府県を選択して下さい"}, autocomplete: "prefecture", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :sex %>
    <%= f.select :sex, User.sexes.keys, {include_blank: "性別を選択して下さい"}, autocomplete: "sex", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :birth_year %>
    <%= f.date_select :birth_year, {discard_day: true, discard_month: true, start_year: Time.now.year, end_year: 1950, prompt: "生まれた年を選択してください"}, autocomplete: "birth_year", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control", accept: "image/jpg,image/gif,image/jpeg,image/png", autocomplete: "image", autofocus: true %>
    <%= f.hidden_field :image_cache %>
  </div>

  <div class="form-group">
    <%= f.text_area :profile, class:'form-control', autofocus: true, autocomplete: "profile", placeholder: "プロフィール文を入力してください", rows: 10 %>
  </div>

  <div class="form-group">
    <%= f.label :mailmagazine %><br>
    <%= f.check_box :mailmagazine, {} , "true", "false" %>
    <%= label_tag :mailmagazine, "メール配信を希望する" , autocomplete: "mailmagazine"%>
  </div>

  <div class="form-group">
    <%= f.submit "確認画面へ", class:'btn btn-primary btn-block' %>
  </div>
  <% end %>
</div>