  <div class="bottom">
    <% if local_assigns[:sns_icon] %>
      <div class="bottom-sns">
        <ul>
          <li><a href="#">
            <%= image_tag('icon_twitter.svg', class:'sns-logo') %>
          </a></li>
          <li><a href="#" class="circle">
            <%= image_tag('icon_fb.svg', class:'sns-logo') %>
          </a></li>
          <li><a href="#" class="circle">
            <%= image_tag('icon_insta.svg', class:'sns-logo') %>
          </a></li>
        </ul>
      </div>
    <% end %>
    <% if local_assigns[:facility_add_request] %>
      <div class="bottom-text">
        <%= link_to "情報掲載依頼はこちら", new_inquiry_path(kind: 1), class:"btn btn-primary btn-lg btn-block" %>
      </div>
    <% end %>
    <% if local_assigns[:facility_edit_request] %>
      <div class="bottom-text">
        <%= link_to "情報修正依頼はこちら", new_inquiry_path(kind: 2, facility_id: local_assigns[:facility_id]), class:"btn btn-primary btn-lg btn-block" %>
      </div>
    <% end %>
  </div>
