  <div class="bottom row">
    <% if local_assigns[:sns_icon] %>
      <div class=" col-12">
      <div class="sns-title">やんばるスパイク公式SNS</div>
      <div class="sns-icons bottom-sns-area">
          <a href="https://twitter.com/cbper8bitbb5q8d" class="sns-link" target="_blank">
            <%= image_tag('icon_twitter.svg', class:'sns-logo') %>
          </a>
          <a href="https://www.facebook.com/%E6%A0%AA%E5%BC%8F%E4%BC%9A%E7%A4%BE%E3%82%84%E3%82%93%E3%81[…]3%83%91%E3%82%A4%E3%82%AF-149397135483558/?ref=page_internal" class="sns-link" target="_blank">
            <%= image_tag('icon_fb.svg', class:'sns-logo') %>
          </a>
          <a href="https://www.youtube.com/channel/UCwrDvYey9uKGBeh_l5IF-ag" class="sns-link" target="_blank">
            <%= image_tag('icon_youtube.svg', class:'sns-logo') %>
          </a>
          <a href="https://www.instagram.com/kamizato_programmer/?hl=ja" class="sns-link" target="_blank">
            <%= image_tag('icon_insta.svg', class:'sns-logo') %>
          </a>
          <a href="https://line.me/R/ti/p/%40fyp8311b" class="sns-link" target="_blank">
            <%= image_tag('icon_line.svg', class:'sns-logo') %>
          </a>
      </div>
      </div>
    <% end %>
    <% if local_assigns[:facility_add_request] %>
      <div class="bottom-button col-12">
        <%= link_to "情報掲載依頼はこちら", new_inquiry_path(kind: 1), class:"button button-gradation" %>
      </div>
    <% end %>
    <% if local_assigns[:facility_edit_request] %>
      <div class="bottom-button col-12">
        <%= link_to "情報修正依頼はこちら", new_inquiry_path(kind: 2, facility_id: local_assigns[:facility_id]), class:"button button-gradation" %>
      </div>
    <% end %>
  </div>
