<nav class="navbar navbar-expand-md navbar-light fixed-top header">
  <div class="navbar-toggler header-icon-area" data-toggle="collapse" data-target=".navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <%= image_tag('icon_menu.svg', class:'header-icon') %>
  </div>
  <div class="logo-area">
    <%= link_to root_path do %>
      <%= image_tag('logo.svg', class:'header-logo') %>
    <% end %>
  </div>
  <div class="navbarTogglerDemo01 collapse header-icon-area">
  </div>
  <div class="collapse navbar-collapse navbarTogglerDemo01">
    <ul class="navbar-nav ml-4 mt-2 mt-md-0">
      <li class="nav-item">
        <%= link_to 'グルメ', gourmet_list_path, class: "nav-link" %>
      </li>
      <li class="nav-item ">
        <%= link_to '施設', facility_list_path, class: "nav-link" %>
      </li>
      <% if user_signed_in?	%>
        <li class="nav-item">
          <%= link_to 'お気に入り', bookmarks_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to '問合せ', new_inquiry_path(kind: 0), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'ログアウト', destroy_user_session_path, class: "nav-link", method: :delete %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to '問合せ', new_inquiry_path(kind: 0), class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="navbarTogglerDemo01 collapse show header-icon-area">
      <% if user_signed_in?	%>
        <%= link_to user_path do %>
          <%= image_tag('icon_account.svg', class:'header-icon') %>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path do %>
          <%= image_tag('icon_login.svg', class:'header-icon') %>
        <% end %>
      <% end %>
  </div>
</nav>
<div class="header-space-adjust"></div>
