
<div class="list-body">
  <div class="list-cd">
    <p>home > マイページ</p>
  </div>

<div class="mypage_wrapper">
  <div class="mypage_box">
    <div class="image"></div>
    <div class="mypage_text">
      <div class="mypage_text_name">ユーザー名</div>
      <div class="mypage_text_list">30代後半</div>
      <div class="mypage_text_list">男性</div>
      <div class="mypage_text_list">神奈川県</div>
    </div>
    <i id="user-tag-icon" class="fas fa-user-tag"></i>
      <%= link_to "a", edit_user_registration_path %>
    </div>
    <div class="mypage_introduction">自己紹介</div>
  </div>

    </div>
    <div class="like">お気に入り</div>
    <div class="spotto">
      <a href="#"><button type="button" class="btn btn-primary btn-lg">グルメ</button></a>
      <a href="#"><button type="button" class="btn btn-secondary btn-lg">スポット</button></a>
    </div>


<div class="list-wrapper">
    <div class="row ">
      <div class="card show-row-list">
        <a href="/"></a>
        <%= image_tag("title.png" ,class:"card-img-top" ,alt:"...") %>
        <div class="card-body"><i class="fas fa-heart"></i>
        <h4 class="card-title">テスト</h4>
          <p class="card-text">ホームページ・ブログ開設など基礎を身に付けたい方向けコースです。</p>
        </div>
      </div>
      <div class="card show-row-list">
        <a href="/"></a>
        <%= image_tag("title.png" ,class:"card-img-top" ,alt:"...") %>
        <div class="card-body"><i class="fas fa-heart"></i>
          <h4 class="card-title">テスト</h4>
          <p class="card-text">ホームページ・ブログ開設など基礎を身に付けたい方向けコースです。</p>
        </div>
      </div>
      
  </div>

  <div class="list-low">
    <div class="row ">
      <div class="card show-row-list">
        <a href="/"></a>
        <%= image_tag("title.png" ,class:"card-img-top" ,alt:"...") %>
        <div class="card-body"><i class="fas fa-heart"></i>
          <h4 class="card-title">テスト</h4>
          <p class="card-text">ホームページ・ブログ開設など基礎を身に付けたい方向けコースです。</p>
        </div>
      </div>
      <div class="card show-row-list">
        <a href="/"></a>
        <%= image_tag("title.png" ,class:"card-img-top" ,alt:"...") %>
        <div class="card-body"><i class="fas fa-heart"></i>
          <h4 class="card-title">テスト</h4>
          <p class="card-text">ホームページ・ブログ開設など基礎を身に付けたい方向けコースです。</p>
        </div>
      </div>
    </div>
  </div>
  <div class="more_button">
    <button type="button" class="btn btn-primary btn-lg btn-block">もっと見る</button>
  </div>

</div>
