<!-- マイページ-->
<%= render "shared/breadcrumbs" %>

<div class="list-body">
  <!-- プロフィール -->
  <div class="user-top container">
    <div class="row">
      <div class="user-lists">
        <div class="list-content">
          <% if @user.image.url %>
          <%= image_tag @user.image.url ,class:"user-image"%>
          <% else %>
          <%= image_tag "no-image.png" ,class:"non-user-image" %>
          <% end %>
        </div>
        <div class="list-content">
          <h3><%=@user.nickname%></h3>
          <!-- 誕生日から年齢を計算 -->
          <% if @user.birth_year.to_i > 0 %>
            <p><%= (Date.today.year.to_i - @user.birth_year.to_i) %></p>
          <% end %>
          <p><%=@user.sex%></p>
          <p><%=@user.prefecture%></p>
        </div>

        <!-- 切り替えボタンの設定 -->
        <div class="user-icon list-content " data-toggle="modal" data-target="#exampleModal"><i class="fas fa-user-edit "></i></div>

        <!-- モーダルの設定 -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <!-- ここからリンクを編集 -->
              <div class="modal-body">
                <%= link_to  "プロフィールを編集", edit_user_registration_path %>
              </div>
              <div class="modal-body">
                <%= link_to  "メールアドレス変更", users_edit_email_path %>
              </div>
              <div class="modal-body">
                <%= link_to  "パスワード変更", users_edit_password_path %>
              </div>
              <div class="modal-body">
                <%= link_to  "退会手続きへ", withdraw_user_path   %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                <!-- ここまで -->
              </div><!-- /.modal-footer -->
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
      </div>
    </div>
    <div class="profile text-center"><%= @user.profile %></div>
  </div>

<!-- タブのデザイン ================================================================= -->

  <!-- タブ -->
  <div class="container">
    <!-- タブの表示設定 -->
    <div class="tabs">
      <input id="all" type="radio" name="tab_item" checked>
      <label class="tab_item" for="all">グルメ</label>

      <input id="programming" type="radio" name="tab_item">
      <label class="tab_item" for="programming">観光スポット</label>

    <div class="tab_content" id="all_content">
      <div class="row" id="gourmet_lists">
            <%= render partial: 'facilities/facilities_list', collection: @gourmets, as: 'facility' %>
      </div>

      <div class="list-button col-12">
        <%= link_to_next_page @gourmets, 'もっと見る', remote: true , params: { type: :bookmark_gourmet },
        class:"more btn btn-primary btn-lg btn-block btn-round" ,type:"button" ,id:'gourmet_view_more'%>
      </div>
    </div>  <!-- tab_content -->

    <div class="tab_content" id="programming_content">
      <div class="row" id="spot_lists">
        <%= render partial: 'facilities/facilities_list', collection: @spots, as: 'facility' %>
      </div>
      <div class="list-button col-12">
        <%= link_to_next_page @spots, 'もっと見る', remote: true , params: { type: :bookmark_spot },
        class:"more btn btn-primary btn-lg btn-block btn-round" ,type:"button" ,id:'spot_view_more'%>
      </div>

    </div> <!-- tab_content -->
   </div> <!-- tabs -->

<!-- タブのデザイン ================================================================= -->

    <ul id="myTabs" class="nav nav-tabs justify-content-center">
      <li role="presentation" class="active"><button href="#gourmet-tab" aria-controls="gourmet-tab" role="tab" data-toggle="tab" class="nav-link  active">グルメ</button></li>
      <li role="presentation"><button href="#spot-tab" aria-controls="spot-tab" role="tab" data-toggle="tab" class="nav-link ">観光スポット</button></li>
    </ul>
    <!-- Tab panes(タブを押したときに表示する中身) -->
    <div class="tab-content pt-3">
      <div role="tabpanel" class="tab-pane fade active show" id="gourmet-tab">
        <div class="list-wrapper">
          <div class="row " id="gourmet_lists">
            <%= render partial: 'facilities/facilities_list', collection: @gourmets, as: 'facility' %>
          </div>
            <div class="list-button col-12">
              <%= link_to_next_page @gourmets, 'もっと見る', remote: true , params: { type: :bookmark_gourmet },
        class:"more btn btn-primary btn-lg btn-block btn-round" ,type:"button" ,id:'gourmet_view_more'%>
            </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="spot-tab">
        <div class="row " id="spot_lists">
          <%= render partial: 'facilities/facilities_list', collection: @spots, as: 'facility' %>
        </div>
          <div class="list-button col-12">
            <%= link_to_next_page @spots, 'もっと見る', remote: true , params: { type: :bookmark_spot },
        class:"more btn btn-primary btn-lg btn-block btn-round" ,type:"button" ,id:'spot_view_more'%>
          </div>
      </div>
    </div>
  </div>
</div>
