<div class="login-area">
  <div class="list-title underline-blue">
    <h1>パスワード再設定</h1>
  </div>
  <div class="text-center mt-5">
    <p>新しいパスワードを入力してください。</p>
  </div>
  <div class="mt-5">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "common-form" }) do |f| %>
    <%= bootstrap_devise_error_messages!%>
    <%= f.hidden_field :reset_password_token %>

    <div class="form-group mb-3">
      <%= f.label :password, "パスワード" %><br />
      <%= f.password_field :password, autofocus: true, placeholder: "新しいパスワードを入力してください" ,class:"form-control"%>
    </div>
    <div class="form-group mb-3">
      <%= f.label :password_confirmation, "パスワード（確認用）" %><br />
      <%= f.password_field :password_confirmation, placeholder: "新しいパスワード（確認用）を入力してください",class:"form-control" %>
    </div>

    <%= f.submit "変更する", class:'button button-blue-color' %>
    <% end %>
  </div>
</div>