<div class="title">
  <h4 class="text-center">メールアドレスを変更</h4>
</div>
<div class="container-login">
  <div>新しいパスワードを入力してください。</div>
  <div class="mt-5">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= bootstrap_devise_error_messages!%>
    <%= f.hidden_field :reset_password_token %>

    <div class="form-group mb-3">
      <%= f.label :password, "パスワード" %><br />
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "新しいパスワードを入力してください" %>
    </div>
    <div class="form-group mb-3">
      <%= f.label :password_confirmation, "パスワード（確認用）" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "新しいパスワード（確認用）を入力してください" %>
    </div>

    <%= f.submit "変更する", class:'btn btn-success btn-block' %>
    <% end %>
  </div>
</div>