<div class="col-6 col-lg-3 show-row-list">
  <% if facility.type == "gourmet" %>
    <% url = gourmet_path(facility.id) %>
  <% else %>
    <% url = spot_path(facility.id) %>
  <% end %>
  <%= link_to url, class:"a-card" do %>
    <div class="card">
      <%images = facility.facility_images.first%>
      <%= image_tag(images.image.thumb.url ,class:"card-img-top" ,alt:"...") %>
      <div class="card-body">
        <h4 class="card-title"><%= facility.name %></h4>
        <p class="card-text"><%= facility.description %></p>
        <% if user_signed_in? %>
        <div class="bookmark_btn_<%= facility.id %> favorite-area" data-bookmark='1'>
          <object><%= render 'facilities/bookmark_area', facility: facility %></object>
        </div>
        <% else%>
        <div class="favorite-area">
          <object ect>
            <%= link_to new_user_session_path, class:"icon-red" do %>
              <%= icon('far', 'heart') %>
              &nbsp;
              <%= facility.bookmarks.count %>
            <% end %>
          </object>
        </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
