<div class="list-body">
</div>
<div class="list-cd">
  <p>home > グルメ(スポット）</p>
</div>
<div class="alert alert-dark" role="alert"><i class="fas fa-heart"></i>
  <%= @facilities.name %>
</div>


<div class="main-wrap">
  <div class="main-box">
    <a href="URL">
      <img src="/inu.jpg">
      <p>記事タイトル2</p>
    </a>
  </div>
</div>

<div class="point">
  <p>おすすめポイント</p>

</div>
<div class="box11">
  <p>ここに文章</p>
</div>

<div class="profile-card">
  <div class="profile-card__inner">
    <div class="profile-thumb">
      <img src="/inu.jpg" alt="アイコン">
    </div>
    <div class="profile-content">
      <span class="profile-name">okinawaそば</span>
      <i class="fas fa-heart"></i>
      <div class="bubble02">
        <span class="profile-intro">オーナーより</span>
      </div>
    </div>
  </div>
</div>

<div class="slide-wrap">
  <div class="slide-box">
    <a href="URL">
      <img src="/inu.jpg">
      <p>記事タイトル2</p>
    </a>
  </div>
  <div class="slide-box">
    <a href="URL">
      <img src="/inu.jpg">
      <p>記事タイトル2</p>
    </a>
  </div>
  <div class="slide-box">
    <a href="URL">
      <img src="/inu.jpg">
      <p>記事タイトル3</p>
    </a>
  </div>
  <div class="slide-box">
    <a href="URL">
      <img src="/inu.jpg">
      <p>記事タイトル4</p>
    </a>
  </div>
  <div class="slide-box">
    <a href="/">
      <img src="/inu.jpg">
      <p>記事タイトル6</p>
    </a>
  </div>

</div>


<button type="button" class="btn btn-secondary btn-lg btn-block list-button">もっと見る</button>

<table>
  <tr>
    <th><%= @facilities.postal_code %></th>
    <td><%= @facilities.address %></td>
  </tr>
  <tr>
    <th>アクセス</th>
    <td><%= @facilities.running_time %></td>
  </tr>
  <tr>
    <th>TEL</th>
    <td><%= @facilities.tel %></td>
  </tr>
  <tr>
    <th>営業時間</th>
    <td> <%= @facilities.first_open %>
      <%= @facilities.last_open %>
      <%= @facilities.first_close %>
      <%= @facilities.last_close %></td>
  </tr>
  <tr>
    <th>定休日</th>
    <td><%= @facilities.holiday %></td>
  </tr>
  <tr>
    <th>駐車場</th>
    <td><%= @facilities.parking %></td>
  </tr>
  <tr>
    <th>URL</th>
    <td><%= @facilities.home_page %></td>
  </tr>
</table>


<div id="map">google map</div>



</div>
<div class="bottom">

  <div class="bottom-sns">
    <ul>
      <li><a href="<%= @facilities.twitter %>" class="circle"><i class="fab fa-twitter"></i></a></li>
      <li><a href="<%= @facilities.youtube %>" class="circle"><i class="fab fa-youtube fa-3x youtube-red"></i></a></li>
      <li><a href="<%= @facilities.instagram %>" class="circle"><i class="fab fa-facebook-f"></i></a></li>
      <li><a href="<%= @facilities.instagram %>" class="circle"><i class="fab fa-instagram"></i></a></li>
    </ul>
  </div>
  <div class="bottom-text">
    <button type="button" class="btn btn-secondary btn-lg btn-block">情報修正依頼はこちら</button>
  </div>
</div>
</div>



<script>
  let map

  function initMap() {
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map'), {
      center: {
        lat: 40.7828,
        lng: -73.9653
      },
      zoom: 12,
    });

    marker = new google.maps.Marker({
      position: {
        lat: 40.7828,
        lng: -73.9653
      },
      map: map
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUDWh0IQXOK7XmXrogmszMGQbagbQbvzU&callback=initMap" async defer></script>