<div class="list-body row">
  <div class="list-title underline-blue">
    <h3>おすすめグルメ</h3>
  </div>
  <div class="list-wrapper col-12">
    <div class="row">
      <%= render partial: 'facilities/facilities_list', collection: @gourmets.first(4), as: 'facility' %>
    </div>
    <div class="list-button">
      <%= link_to 'おすすめグルメをもっと見る', facilities_list_path(type: "gourmet"), class:"button button-blue-border button-arrow" %>
    </div>
  </div>
</div>
<div class="list-body row bg-image-spot triangle-cut">
  <div class="list-title underline-white">
    <h3 class="text-white">おすすめ観光スポット</h3>
  </div>

  <div class="list-wrapper col-12">
    <div class="row">
      <%= render partial: 'facilities/facilities_list', collection: @spots.first(4), as: 'facility' %>
    </div>
    <div class="list-button">
      <%= link_to '観光スポットをもっと見る', facilities_list_path(type: "spot"), class:"button button-white-border button-arrow" %>
    </div>
  </div>
</div>
<%= render partial: "publics/bottom_area", locals: {sns_icon: true, facility_add_request: true } %>