<%= render "shared/breadcrumbs" %>
<% if @facility_type == "gourmet" %>
  <% type_text = "グルメ" %>
<% else %>
  <% type_text = "観光スポット" %>
<% end %>
<div class="list-body row">
  <div class="list-title underline-blue">
    <h3>おすすめ<%= type_text.to_s %></h3>
  </div>
  <div class="list-wrapper col-12">
    <div class="row " id="facility_lists">
      <%= render partial: 'facilities/facilities_list', collection: @facilities, as: 'facility' %>
    </div>
    <div class="list-button">
      <%= link_to_next_page @facilities, "おすすめ#{type_text.to_s}をもっとみる", remote: true, class:"button button-blue-border" ,id:'view_more'%>
    </div>
  </div>
</div>
<%= render partial: "publics/bottom_area", locals: {sns_icon: true, facility_add_request: true } %>
