<!-- 詳細画面 -->
<div class="detail-wrapper">
  <!-- トップ -->
  <div class="detail-top">
    <%= image_tag(@facility.facility_images.first.image.url ,class:"facility-main-width card-img-max-height fit-image" ,alt:"...")  %>
    <h2 class="detail-title"><%= @facility.name%></h2>
    <!-- いいねボタン -->
    <!-- ログインの有無で場合わけ -->
    <% if user_signed_in? %>
    <div class="bookmark_btn_<%= @facility.id %>  detail-bookmark-icon" data-bookmark='1'>
      <!-- ここ専用のパーシャル -->
      <%= render 'facilities/bookmark_for_detail', {facility: @facility,gourmet: @gourmet} %>
    </div>
    <% else%>
    <div class="favorite-area detail-bookmark-icon">
      <!-- ②ここはパーシャルを使用 -->
      <object><%= link_to icon('far', 'heart'), new_user_session_path, class:"icon-red" %></object>
      <div class="detail-bookmark-count">
        <%= @facility.bookmarks.count %>
      </div>
    </div>
    <% end %>
    <!-- いいねボタンここまで -->
  </div>
  <%= @facility.description %>
  <div class="list-title underline-blue advice-margin">
    <h1>おすすめポイント</h1>
  </div>
  <div class = "menu-margin-bottom">
    <%= @facility.advice %>
  </div>
  <div class="menu text-center">
  <%if @facility.menus[0] %>
    <div class="list-title underline-blue menu-margin">
      <h1>メニュー</h1>
    </div>
    <div class="sliderArea menu-margin-bottom">
      <div class="full-screen-o slider">
        <% for num in 0..MENUS_MAX-1 do %>
          <% if @facility.menus[num] %>
          <div class="card">
            <li>
              <%= image_tag(@facility.menus[num].image.thumb.url ,class:"card-img-top" ,alt:"...") %>
              <div class="card-body list-cd">
                <h5 class="card-title"><%= @facility.menus[num].name %></h5>
                <p><%= @facility.menus[num].content %></p>
              </div>
            </li>
          </div>
          <%end%>
        <%end%>
      </div>
    </div>
    <div class="list-button">
      <%= link_to  "メニューをもっとみる", facility_menus_path(@facility.id)  ,type:"button", class:"button button-blue-border button-arrow" %>
    </div>
    <%end%>
    <div class="shop-information">
      <ul class="information-lists">
        <li class="information-list">
          <p class="information-list-title">住所</p>
          <p class="information-list-content"><%= @facility.address %></p>
        </li>
        <li class="information-list">
          <p class="information-list-title">アクセス</p>
          <p class="information-list-content"><%= @facility.running_time %></p>
        </li>
        <li class="information-list">
          <p class="information-list-title">TEL</p>
          <p class="information-list-content"><%= @facility.tel %></p>
        </li>
        <li class="information-list">
          <p class="information-list-title">営業時間</p>
          <p class="information-list-content"><%= @facility.opening_hours %></p>
        </li>
        <li class="information-list">
          <p class="information-list-title">定休日</p>
          <p class="information-list-content"><%= @facility.holiday %></p>
        </li>
        <li class="information-list">
          <p class="information-list-title">駐車場</p>
          <p class="information-list-content"><%= @facility.parking %></p>
        </li>
        <li class="information-list">
          <p class="information-list-title">URL</p>
          <p class="information-list-content"><%= @facility.home_page %></p>
        </li>
      </ul>
    </div>
    <div class="google-map text-center">
      <div class="w-100" id="map" data-facility-latitude="<%= @facility.latitude %>" data-facility-longitude="<%= @facility.longitude %>">google map</div>
    </div>
  </div>
</div>
<%= render partial: "publics/bottom_area", locals: {sns_icon: true, facility_edit_request: true, facility_id: @facility.id } %>

<!-- google mapを呼び出すjavascript -->
<script>
  var e = document.getElementById('map');
  var latitude = Number(e.getAttribute('data-facility-latitude'));
  var longitude = Number(e.getAttribute('data-facility-longitude'));

  function initMap() {
    geocoder = new google.maps.Geocoder()
    // console.log(latitude)
    // console.log(longitude)
    // console.log(e)
    let map = new google.maps.Map(document.getElementById('map'), {
      center: {
        lat: latitude,
        lng: longitude
      },
      zoom: 16,
    });

    marker = new google.maps.Marker({
      position: {
        lat: latitude,
        lng: longitude
      },
      map: map
    });
  }
  window.google = {};
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap" async defer></script>

<!-- slickを呼び出すJavascript -->
<script>
  $(function(){
    $(".full-screen-o").not('.slick-initialized').slick({
      centerMode: true, // スライドを中心に表示して部分的に前後のスライドが見えるように設定（奇数番号のスライドに使用）
      centerPadding: '28%', // センターモード時のサイドパディング。見切れるスライドの幅。’px’または’％’。
      dots: true, // ドットインジケーターの表示
      autoplay: true, // 自動再生を設定
      autoplaySpeed: 3000, // 自動再生のスピード（ミリ秒単位）
      speed: 1000, // スライド/フェードアニメーションの速度を設定
      infinite: true, // スライドのループを有効にするか
    });

    var maxHeight = 0;
    $('.card li').each(function(idx, elem) {
      var height = $(elem).height();
      if(maxHeight < height) {
        maxHeight = height;
      }
    });
    $('.card li').height(maxHeight);
  });
</script>
