<!-- 詳細画面 -->
<div class="detail-wrapper">
  <!-- トップ -->
  <div class="detail-top">
    <%= image_tag(@facility.facility_images.first.image.url ,class:"card-img-top" ,alt:"...")  %>
    <h2 class="detail-title"><%= @facility.name%></h2>
    <!-- いいねボタン -->
    <!-- ログインの有無で場合わけ -->
    <% if user_signed_in? %>
    <div class="bookmark_btn_<%= @facility.id %>  detail-bookmark-icon" data-bookmark='1'>
      <!-- ここ専用のパーシャル -->
      <%= render 'facilities/bookmark_for_detail', {facility: @facility,gourmet: @gourmet} %>
    </div>
    <% else%>
    <div class="favorite-area detail-bookmark-icon">
      <!-- ②ここはパーシャルを使用 -->
      <object><%= link_to icon('far', 'heart'), new_user_session_path, class:"icon-red" %></object>
      <div class="detail-bookmark-count">
        <%= @facility.bookmarks.count %>
      </div>
    </div>
    <% end %>
    <!-- いいねボタンここまで -->
  </div>
  <div class="menu text-center">
  <%if @facility.menus[0] %>
    <h3>メニュー</h3>
    <hr>
    <div id="carouselOption1" class="carousel slide" data-ride="carousel">
      <!-- インジケータの設定 -->
      <ol class="carousel-indicators">
        <% for num in 1..MENUS_MAX-1 do %>
          <% if @facility.menus[num] %>
            <% if num == 1 %>
              <li data-target="#carouselOption1" data-slide-to="0" class="active"></li>
              <li data-target="#carouselOption1" data-slide-to="1"></li>
            <% else %>
              <li data-target="#carouselOption1" data-slide-to="¥"" + num.to_s + "¥""></li>
            <% end %>
          <% end %>
        <%end%>
      </ol>
      <!-- スライドさせる画像の設定 -->
      <div class="carousel-inner">
        <% for num in 0..MENUS_MAX-1 do %>
          <% if @facility.menus[num] %>
            <% if num == 0 %>
              <div class="carousel-item active">
            <% else %>
              <div class="carousel-item">
            <% end %>
                <%= image_tag(@facility.menus[num].image.url ,class:"d-block w-100" ,alt:"...") %>
                <div class="carousel-caption d-none d-md-block">
                  <h5><%= @facility.menus[num].name %></h5>
                  <p><%= @facility.menus[num].content %></p>
                </div>
              </div>
          <%end%>
        <%end%>
        <!-- スライドコントロールの設定 -->
        <%if @facility.menus[1] %>
          <a class="carousel-control-prev" href="#carouselOption1" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">前へ</span>
          </a>
          <a class="carousel-control-next" href="#carouselOption1" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">次へ</span>
          </a>
        <%end%>
      </div>
    </div>
    <div class="list-button">
      <%= link_to  "メニューをもっとみる", facility_menus_path(@facility.id)  ,type:"button", class:"button button-blue-border button-arrow" %>
    </div>
    <%end%>
    <div class="shop-information">
      <ul class="information-lists">
        <li class="information-list">
          <p class="information-list-title">住所</p>
          <p class="information-list-content"><%= @facility.address %></p>
        </li>
        <li class="information-list">
          <p class="information-list-title">アクセス</p>
          <p class="information-list-content"><%= @facility.running_time %></p>
        </li>
        <li class="information-list">
          <p class="information-list-title">TEL</p>
          <p class="information-list-content"><%= @facility.tel %></p>
        </li>
        <li class="information-list">
          <p class="information-list-title">営業時間</p>
          <p class="information-list-content"><%= @facility.opening_hours %></p>
        </li>
        <li class="information-list">
          <p class="information-list-title">定休日</p>
          <p class="information-list-content"><%= @facility.holiday %></p>
        </li>
        <li class="information-list">
          <p class="information-list-title">駐車場</p>
          <p class="information-list-content"><%= @facility.parking %></p>
        </li>
        <li class="information-list">
          <p class="information-list-title">URL</p>
          <p class="information-list-content"><%= @facility.home_page %></p>
        </li>
      </ul>
    </div>
    <div class="google-map text-center">
      <div class="w-100" id="map" data-facility-latitude="<%= @facility.latitude %>" data-facility-longitude="<%= @facility.longitude %>">google map</div>
    </div>
  </div>
</div>
<%= render partial: "publics/bottom_area", locals: {sns_icon: true, facility_edit_request: true, facility_id: @facility.id } %>

<!-- google mapを呼び出すjavascript -->
<script>
  let map;
  var e = document.getElementById('map');
  var latitude = Number(e.getAttribute('data-facility-latitude'));
  var longitude = Number(e.getAttribute('data-facility-longitude'));

  function initMap() {
    geocoder = new google.maps.Geocoder()
    // console.log(latitude)
    // console.log(longitude)
    // console.log(e)
    map = new google.maps.Map(document.getElementById('map'), {
      center: {
        lat: latitude,
        lng: longitude
      },
      zoom: 16,
    });

    marker = new google.maps.Marker({
      position: {
        lat: latitude,
        lng: longitude
      },
      map: map
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap" async defer></script>
