<!-- 詳細画面 -->
<div class="detail-wrapper container">
  <div class="title text-center">
    <h2><%= @facility.name%>
      <% if user_signed_in? %>
      <div class="bookmark_btn_<%= @facility.id %>" data-bookmark='1' style='display:inline; float: right; padding-right:20px; font-size:30px; margin-bottom:30px;'>
        <object><%= render 'facilities/bookmark_area', facility: @facility %></object>
      </div>
      <% else%>
      <div style='display: inline; float: right; padding-right:20px; font-size:30px; margin-bottom:30px'>
        <object><%= link_to icon('far', 'star'), new_user_session_path %></object>
      </div>
      <% end %>
    </h2>
  </div>
  <div class="list-cd">
    <%= render "shared/breadcrumbs" %>
  </div>
  <div class="top">
    <%images = @facility.facility_images.first%>
    <%= image_tag(images.image.url ,class:"card-img-top w-100" ,alt:"...",style:"width:500px;")  %>
    <p><%= @facility.description%></p>
  </div>
  <div class="recommend text-center">
    <h3>おすすめポイント</h3>
    <hr>
    <div class="owner">
      <%if @facility.user.image? %>
        <%= image_tag(@facility.user.image.url ,class:"text-center rounded-circle" ,alt:"...",style:"width:200px;")  %>
      <% else%>
        <%= image_tag("title.png" ,class:"text-center rounded-circle" ,alt:"...",style:"width:200px;")  %>
      <% end %>
      <p><%= @facility.user.nickname%></p>
    </div>
    <div class="balloon1-top">
      <p><%= @facility.advice %>
        <% if user_signed_in? %>
      <div class="bookmark_btn_<%= @facility.id %>" data-bookmark='1' style='display:inline; float: right; padding-right:20px; font-size:30px; margin-bottom:30px;'>
        <object><%= render 'facilities/bookmark_area', facility: @facility %></object>
      </div>
      <% else%>
      <div style='display: inline; float: right; padding-right:20px; font-size:30px; margin-bottom:30px'>
        <object ect><%= link_to icon('far', 'star'), new_user_session_path %></object>
      </div>
      <% end %></p>
    </div>
  </div>
  <div class="menu text-center">
  <%if @facility.menus[0] %>
    <h3>メニュー</h3>
    <hr>
    <div id="carouselOption1" class="carousel slide" data-ride="carousel">
      <!-- インジケータの設定 -->
      <ol class="carousel-indicators">
        <%if @facility.menus[1] %>
        <li data-target="#carouselOption1" data-slide-to="0" class="active"></li>
        <li data-target="#carouselOption1" data-slide-to="1"></li>
        <%end%>
        <%if @facility.menus[2] %>
        <li data-target="#carouselOption1" data-slide-to="2"></li>
        <%end%>
      </ol>
      <!-- スライドさせる画像の設定 -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag(@facility.menus[0].image.url ,class:"d-block w-100" ,alt:"...") %>
          <div class="carousel-caption d-none d-md-block">
            <h5><%= @facility.menus[0].name %></h5>
            <p><%= @facility.menus[0].content %></p>
          </div>
        </div>
        <%if @facility.menus[1] %>
        <div class="carousel-item">
          <%= image_tag(@facility.menus[1].image.url ,class:"d-block w-100" ,alt:"...") %>
          <div class="carousel-caption d-none d-md-block">
            <h5><%= @facility.menus[1].name %></h5>
            <p><%= @facility.menus[1].content %></p>
          </div>
        </div>
        <%end%>
        <% if @facility.menus[2] %>
        <div class="carousel-item">
          <%= image_tag(@facility.menus[2].image.url ,class:"d-block w-100" ,alt:"...") %>
          <div class="carousel-caption d-none d-md-block">
            <h5><%= @facility.menus[2].name %></h5>
            <p><%= @facility.menus[2].content %></p>
          </div>
        </div>
        <% end %>
      </div>
      <!-- スライドコントロールの設定 -->
      <%if @facility.menus[1] %>
      <a class="carousel-control-prev" href="#carouselOption1" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">前へ</span>
      </a>
      <a class="carousel-control-next" href="#carouselOption1" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">次へ</span>
      </a>
      <%end%>
    </div>
    <div class="list-button">
      <% if @facility.type == "gourmet" %>
        <% url = gourmet_menus_path(@facility.id) %>
      <% else %>
        <% url = spot_menus_path(@facility.id) %>
      <% end %>
      <%= link_to  "もっと見る", url ,type:"button", class:"btn btn-primary btn-lg btn-block" %>
    </div>
  <%end%>
  </div>

  <div class="text-center pt-5">
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">住所</th>
          <td><%= @facility.address %></td>
        </tr>
        <tr>
          <th scope="row">アクセス</th>
          <td><%= @facility.running_time %></td>
        </tr>
        <tr>
          <th scope="row">TEL</th>
          <td><%= @facility.tel %></td>
        </tr>
        <tr>
          <th scope="row">営業時間</th>
          <td><%= @facility.opening_hours %></td>
        </tr>
        <tr>
          <th scope="row">定休日</th>
          <td><%= @facility.holiday %></td>
        </tr>
        <tr>
          <th scope="row">駐車場</th>
          <td><%= @facility.parking %></td>
        </tr>
        <tr>
          <th scope="row">URL</th>
          <td><%= @facility.home_page %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="google-map text-center">
    <h3 class="text-center">地図</h3>
    <hr>
    <div class="w-100" id="map" data-facility-latitude="<%= @facility.latitude %>" data-facility-longitude="<%= @facility.longitude %>">google map</div>
  </div>
</div>
<%= render partial: "publics/bottom_area", locals: {sns_icon: true, facility_edit_request: true, facility_id: @facility.id } %>

<%
=begin%>
google mapを呼び出すjavascript
<%
=end%>
<script>
  let map;
  var e = document.getElementById('map');
  var latitude = Number(e.getAttribute('data-facility-latitude'));
  var longitude = Number(e.getAttribute('data-facility-longitude'));

  function initMap() {
    geocoder = new google.maps.Geocoder()
    // console.log(latitude)
    // console.log(longitude)
    // console.log(e)
    map = new google.maps.Map(document.getElementById('map'), {
      center: {
        lat: latitude,
        lng: longitude
      },
      zoom: 16,
    });

    marker = new google.maps.Marker({
      position: {
        lat: latitude,
        lng: longitude
      },
      map: map
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap" async defer></script>
