
<h1>お問い合わせ(確認画面)</h1>
<p>問い合わせ内容をご確認いただき、送信してください。</p>

<% if @inquiry.errors.any? %>
  <div>
    <ul>
      <% @inquiry.errors.full_messages.each do |msg| %>
        <li><span style="color: red;"><%= msg %></span></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @inquiry ,action: '/create' do |f| %>
  <table class="table table-bordered">
    <tr><th>お名前</th><td><%= @inquiry.name%></td></tr>
    <tr><th>メールアドレス</th><td><%= @inquiry.email%></td></tr>
    <tr><th>題名</th><td><%= @inquiry.subject%></td></tr>
    <tr><th>お問い合わせ内容</th><td><%= @inquiry.message%></td></tr>
  </table>
      <%= f.hidden_field :user_id %>
      <%= f.hidden_field :name %>
      <%= f.hidden_field :email %>
      <%= f.hidden_field :subject %>
      <%= f.hidden_field :message %>
  <%= f.submit '入力画面に戻る', class: 'btn btn-lg btn-secondary', name: 'back' %>
  <%= f.submit '送信する', class: 'btn btn-lg btn-primary' %>
<% end %>
