<% 
  case @inquiry.kind 
  when "inquiry" 
    inquiry_title = "お問い合わせ(確認)"
    inquiry_sentece = "以下のお問い合わせ内容で送信します。よろしいですか？"
  when "new_facility"
    inquiry_title = "情報掲載依頼(確認)"
    inquiry_sentece = "以下のお問い合わせ内容で送信します。よろしいですか？"
  when "edit_facility"
    inquiry_title = "情報修正依頼(確認)"
    inquiry_sentece = "以下のお問い合わせ内容で送信します。よろしいですか？"
  end
 %>
  
<div class="inquiry-area">
  <div class="inquiry-title-area">
    <div class="inqury-title list-title underline-blue">
      <h1><%= inquiry_title %></h1>
    </div>
      <p><%= inquiry_sentece %></p>
  </div>
    <div class="inquiry-information">
      <ul class="information-lists">
        <li class="information-list">
          <p class="information-list-title">お名前</p>
          <p class="information-list-content"><%= @inquiry.name%></p>
        </li>
        <li class="information-list">
          <p class="information-list-title">メールアドレス</p>
          <p class="information-list-content"><%= @inquiry.email%></p>
        </li>
        <li class="information-list">
          <p class="information-list-title">題名</p>
          <p class="information-list-content"><%= @inquiry.subject%></p>
        </li>
        <li class="information-list">
          <p class="information-list-title">お問い合わせ内容</p>
          <div class="information-list-content"><%= simple_format(@inquiry.message) %></div>
        </li>
      </ul>
    </div>
    

  <%= form_for @inquiry ,action: '/create', html: {class: 'inquiry-form'} do |f| %>
      <%= f.hidden_field :user_id %>
      <%= f.hidden_field :name %>
      <%= f.hidden_field :email %>
      <%= f.hidden_field :subject %>
      <%= f.hidden_field :message %>
      <%= f.hidden_field :kind %>
      <%= f.hidden_field :facility_id %>
    <div class="btn-area">
      <%= f.submit '入力画面へ戻る', class: 'button button-gray-color', name: 'back' %>
      <%= f.submit '送信する', class: 'button button-blue-color' %>
    </div>
<% end %>
</div>