
<div class="inquiry-area">
<div class="inquiry-title-area">
  <% case @inquiry.kind %>
  <% when "inquiry" %>
    <h1>お問い合わせ(入力)</h1>
    <p>ご意見・ご要望等、各種お問い合わせは、以下のフォームよりご連絡ください。</p>
  <% when "new_facility" %>
    <h1>情報掲載依頼(入力)</h1>
    <p>「名護へGO」への情報掲載を希望される施設の情報を、以下のフォームよりご連絡ください。</p>
  <% when "edit_facility" %>
    <h1>情報修正依頼(入力)</h1>
    <p>掲載情報に修正を希望される場合は、以下のフォームよりご連絡ください。</p>
  <% end %>
</div>

<%= form_for @inquiry, url: {action: "confirm"}, html: {class: 'inquiry-form'} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <label for="inquiry_name">お名前<span class="badge badge-danger">必須</span></label>
    <%= f.text_field :name, class: 'form-control', value: @inquiry.name, required: true  %>
  </div>

  <div class="form-group">
    <label for="inquiry_email">メールアドレス<span class="badge badge-danger">必須</span></label>
    <%= f.text_field :email, class: 'form-control', value: @inquiry.email, type: "email" , required: true %>
  </div>

  <div class="form-group">
    <%= f.label :subject, "題名"  %>
    <%= f.text_field :subject, class: 'form-control', value:  @inquiry.subject %>
  </div>

  <div class="form-group">
    <label for="inquiry_message">お問い合わせ内容<span class="badge badge-danger">必須</span></label>
    <%= f.text_area :message, size: '10x10', class: 'form-control', value: @inquiry.message, required: true %>
  </div>

  <%= f.hidden_field :user_id, value: @inquiry.user_id %>
  <%= f.hidden_field :kind, value: @inquiry.kind %>
  <%= f.hidden_field :facility_id, value: @inquiry.facility_id %>
  <div class="btn-area">
    <%= f.submit '内容を確認する', class: 'btn btn-lg btn-primary btn-block' %>
  </div>

<% end %>
</div>
