
<h1>お問い合わせ</h1>
<p>店舗・施設情報の登録・修正依頼および問い合わせはこちらからお願いします。</p>

<% if @inquiry.errors.any? %>
  <div>
    <ul>
      <% @inquiry.errors.full_messages.each do |msg| %>
        <li><span style="color: red;"><%= msg %></span></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @inquiry do |f| %>
<% if @inquiry.confirming.blank? %>

  <% if user_signed_in? %>
      <%= f.hidden_field :user_id, value: current_user.id %>
  
    <div class="form-group">
      <%= f.label :name, 'お名前' %>
      <%= f.text_field :name, class: 'form-control', value: current_user.nickname %>
    </div>

    <div class="form-group">
      <%= f.label :email, 'メールアドレス' %>
      <%= f.text_field :email, class: 'form-control', value: current_user.email %>
    </div>

  <% else %>
    <div class="form-group">
      <%= f.label :name, 'お名前' %>
      <%= f.text_field :name, class: 'form-control', value: @inquiry.name %>
    </div>
    <div class="form-group">
      <%= f.label :email, 'メールアドレス' %>
      <%= f.text_field :email, class: 'form-control' %>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :subject, '題名' %>
    <%= f.text_field :subject, class: 'form-control', value: @inquiry.subject %>
  </div>

 <div class="form-group">
   <%= f.label :message, 'お問い合わせ内容' %>
   <%= f.text_area :message, size: '10x10', class: 'form-control' %>
 </div>

  <%= f.submit '内容を確認する', class: 'btn btn-lg btn-primary btn-block' %>

<% else %>
  <table class="table table-bordered">
    <tr><th>お名前</th><td><%= @inquiry.name%></td></tr>
    <tr><th>メールアドレス</th><td><%= @inquiry.email%></td></tr>
    <tr><th>題名</th><td><%= @inquiry.subject%></td></tr>
    <tr><th>お問い合わせ内容</th><td><%= @inquiry.message%></td></tr>
  </table>
      <%= f.hidden_field :user_id %>
      <%= f.hidden_field :name %>
      <%= f.hidden_field :email %>
      <%= f.hidden_field :subject %>
      <%= f.hidden_field :message %>
      <%= f.hidden_field :confirming %>
  <%= f.submit '入力画面に戻る', class: 'btn btn-lg btn-secondary', name: 'back' %>
  <%= f.submit '送信する', class: 'btn btn-lg btn-primary' %>
<% end %>

<% end %>
