<!DOCTYPE html>
<html>

<head>
  <title>名護へGO</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-185612604-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-185612604-1');
  </script>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= stylesheet_link_tag "reset", :media => "all" %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <%= javascript_include_tag 'heightLine' %>
</head>

<body>
  <div class="wrap">
    <%= render 'publics/header'%>
    <%= render 'shared/flash_messages' %>
    <% if current_page?(root_path) %>
    <div class="top-image"></div>
    <% end %>
    <div class="container-fluid" id="wrapper">
      <%= render "shared/breadcrumbs" %>
      <%= yield %>
    </div>
    <%= render 'publics/footer'%>
  </div>

</body>

</html>
